body{
    background-color: gainsboro;
    font-family: Arial, sans-serif;
    text-align:center;
  }
  
  h2{
    color:rebeccapurple;
  }
  th{
    background-color:plum;
    text-align: center;
  }
  
  td{
    text-align:left;
    border-top: 1px solid purple;
  }
  
  table{
    border: 2px solid purple;
    width:650px;
    margin-left: auto;
    margin-right: auto;
  }
  
  span{
    background-color:beige;
    font-family:monospace;
  }